/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Tornar a fonte mais bonita */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Configurando aas fontes */
:root, button{
  font-family: 'Source Serif 4', serif;
  font-size: 62.5%;
}

/* Configuração do body */
body {
  color: #A54328;
  font-size: 1.6rem;
  
}

/* Configuração do conteúdo body */
main {
  max-width: 32rem;

  margin-inline: auto;

  padding: 5.6rem 4rem;
  box-sizing: content-box;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

img {
  width: 100%;
  margin-block: 3.2rem;
}

h1, h2 {
  font-weight: 700;

  /* O viewport-width (vw) é uma unidade de medida em CSS 
  que representa a largura do viewport, ou seja, 
  a área visível da página em um dispositivo. 
  É uma unidade relativa, 
  onde 1vw é igual a 1% da largura do viewport.*/

  font-size: clamp( 2.8rem, 2vw + 1rem, 4rem);
  line-height: clamp (3.6rem, 2vw +1rem, 5rem);
}

h2 {
  margin-bottom: 3.2rem;
}

p, li {
  font-size: clamp(1.4rem, 1vw + 0.4rem, 2rem);
  line-height: clamp(1.8rem, 1vw + 1rem, 2.5rem);

  font-size: 400;
}

strong {
  font-size: clamp(1.4rem, 1vw + 0.4rem, 2rem);
  line-height: clamp(1.8rem, 1vw + 1rem, 2.5rem);
}
 
/* Configuração das listas - ul(Não ordenada) e ol (ordenada) */
ul, ol {
  padding-left: 2.4rem;
}

ul {
margin-bottom: 2.4rem;
}

/* Configuração do botão */
button {
 font-weight: 500;
 background-color: #A54328;

 color: white;

 border: none;

 border-radius: .6rem;

 padding: .8rem 1.2rem;
 margin-top: 1.6rem;
}

/* Media queries - responsável por fazer ajuste do tamanho da tela do dispositivo */ 
@media ( min-width:1120px ) {
  main {
    flex-direction: row;

    /* fit-content = encaixa do tamanho do centeúdo */
    max-width: fit-content;
    gap: 16rem;
  }

  /* Div de 1º nível
    main > div {
      /* flex: 1; (dividi por igual, 50% para cada)  
      flex: 1;
      max-width: 50rem;
    }
  */


  /* Configuração do tamnho de cada "caixa" */
  .recipe {
    max-width: 43.5rem;
  }

  .ingredients {
    max-width: 52.5rem;
    
  }
  
  /* O Clamp é uma função do CSS,que é usado quando há muios 
  pontos de quebr em nosso código...
  é aplicado nas propriedade: font-size e line-height.
  Onde atribuímos um valor mínimo, ideal e máximo a cada propriedade */


  h1, h2 {
    /*clamp:(min, ideal, alto)*/
  font-size: 4rem;
  line-height: 5rem;
  }

  p, li, strong {
   font-size: 2rem;
   line-height:2.5rem;
  }

  button {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    line-height: 2.4rem
  }

}
